section {
    padding-top: 100px;
    padding-bottom: 100px;
}

h5 {
    font-size: 1.2em;
}

section img {
    width: 100%;
}

.bookworm, .bookworm .title a {
    background-color: #dac4c9;
    color: #52022b;
}

.bookworm .description {
    margin-top: 20px;
    color: #52022b;
}

.bookworm .title {
    margin-top: 40px;
}

.bookworm .title a:after {
    border-bottom: 1.5px solid #52022b;
}

.cook, .cook .title a {
    background-color: #853b4b;
    color: #dac4c9;
}

.dictionary, .dictionary .title a {
    background-color: #52022b;
    color: #dac4c9
}

.icons img {
    width: 60px;
    margin: 20px 10px;
}

.description {
    color: #dac4c9;
}

.description p {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

.links {
    display: inline-block;
    margin: 0 20px;
}

.title {
    margin-bottom: 20px;
}

.title h4 {
    margin-bottom: 10px;
}

.title a {
    text-decoration: none;
    text-transform: uppercase;
}
.title a:after {
    content: "";
    display: block;
    margin-left: 0;
    padding-top: 5px;
    border-bottom: 1.5px solid #dac4c9;
    transition: .5s;
    width: 50%;
  }
  
  .title a:hover:after {
    width: 100%;
  }

footer {
    background-color: #52022b;
}

.slider {
    max-width: 400px;
}