* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "open sans";
  color: rgb(43, 43, 43);
}

main {
  min-height: 80vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.6em;
}

header {
  position: relative;
  box-shadow: 1px 1px 3px 4px rgba(8, 8, 8, 0.062);
}

nav {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.nav-logo img {
  width: 90px;
  margin: 0px auto;
}

.nav-links {
  margin-top: 20px;
}

.nav-links a {
  padding: 5px;
  padding-bottom: 2px;
  margin: 0 5px;
  color: #7b003d;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "montserrat";
  transition: .2s;
}

.active, .nav-links a:hover {
  border-bottom: 2px solid #7b003d;
}

footer {
  text-align: center;
  padding: 20px;
}

footer img {
  width: 35px;
  margin: 0 5px;
}

button {
  background: transparent;
  padding: 10px 20px;
  font-size: 0.9em;
  font-family: "montserrat";
  color: #7b003d;
  border-radius: 30px;
  border: 1px solid #7b003d;
  text-transform: uppercase;
  margin: 20px auto;
  transition: .2s;
}

button:hover {
  background: #7b003d;
  color: white;
}

.button {
  text-align: center;
}