.row {
  overflow: auto;
}
.row::after {
  clear: both;
}

[class^="col-"] {
  float: left;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 100%;
}

.col-2-3 {
  width: 100%;
}

.m-90 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 800px;
}

.p-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.color-primary {
  color: #cf3047;
}

/* Mobile Landcape */
@media screen and (min-width: 375px) {
}

/* Tablet */
@media screen and (min-width: 706px) {
  .resume .col-1-2 {
    width: 100%;
  }

  .col-1-3 {
    width: 33%;
  }

  .col-2-3 {
    width: 66%;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
}